body {
  background-color: #363736;
}

.container {
  min-width: 1350px;
  width: 100%;
  height: 100%;
  background-color: #363736;

  background-repeat: no-repeat;
  background-size: 100vw 60vh;
}

/* Sidebar Start */
.sidebar {
  position: fixed;
  background: #494a49;
  height: 100vh;
  width: 300px;
  opacity: 0.8;
}

.sidebar .options {
  width: 100%;
}

.sidebar .options li {
  font-size: 30px;
  height: 80px;
  line-height: 80px;
  width: 100%;
  text-align: center;
}

.sidebar .options li a {
  margin-left: -100px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.sidebar .options li a:hover {
  color: #b8b8b8;
}

.sidebar .options .selected {
  background-color: #7d8084;
  font-family: "Times New Roman", Times, sans-serif;
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
/* Sidebar End */

.content {
  height: 100%;
  margin-left: 300px;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
  display: none;
}

@media (max-width: 1500px) {
  .sidebar {
    width: 0px;
  }
  .home {
    margin-left: 0px;
  }
}

/*  */
.flex-container {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
}

.item {
  flex-grow: 1;
  max-width: 200px;
  min-width: 200px;
  height: 300px;
  background: #494a49;

  /* radius */
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
}

.item:focus {
  outline: none;
}

.flex-container .selected {
  /* shadow */
  -webkit-box-shadow: 0px 0px 28px 6px rgba(80, 41, 207, 1);
  -moz-box-shadow: 0px 0px 28px 6px rgba(80, 41, 207, 1);
  box-shadow: 0px 0px 28px 6px rgba(80, 41, 207, 1);
}

.item + .item {
  margin-left: 2%;
}

/* Align Items Vertically */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
